* { 
    margin: 0; 
    padding: 0;
 }

 /*/////////////////////////////////////Estilos generales para todas nuestras paginas////////////////////////////////*/
/*barra de navegacion para todas las paginas de nuestro sitio web*/

.navbar{

    color: #ffffff;
}

.navbar-brand img{
    width: 30px;
    height: 30px;
    margin: 0px;

}
/* Fin barra de navegacion*/
/*Triangulos para todas las paginas*/

.contenedorBackgroundTriangulo{
    max-width: 1200px;
    height: 600px;
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.triangulo{
    width: 300px;
    height: 300px;
    background: red;
    position: absolute;
}

.triangulo1{
    width: 250px;
    height: 250px;
    background: linear-gradient(to left, #0ea1e6, #1e67c7);
    right: 100px;
    top: 100px;
    animation: t1 8s ease infinite;
}

.triangulo2{
    width: 200px;
    height: 200px;
    background: linear-gradient(to left, #ee8105, #c7371e);
    top: 350px;
    animation: t2 9s ease infinite;
}

.triangulo3{
    width: 300px;
    height: 300px;
    background: linear-gradient(to left, #1b8fc5, #df0f8f);
    left: 200px;
    animation: t3 7s ease infinite;
}


@media screen and (max-width:1200px) {
    .contenedorCartas{
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        margin-top: 100px;
        padding-bottom: 100px;
    }
}

@keyframes t2 {
    0%{
        transform: rotate(65deg) translateY(0px);
    }
    50%{
        transform: rotate(65deg) translateY(20px);
    }
    100%{
        transform: rotate(65deg) translateY(0px);
    }
}

@keyframes t3 {
    0%{
        transform: rotate(45deg) translateY(0px);
    }
    50%{
        transform: rotate(45deg) translateY(20px);
    }
    100%{
        transform: rotate(45deg) translateY(0px);
    }
}
/*fin triangulos para todas las paginas*/

/*//////////////////////////////////////Fin estilos generales para todas nuestras paginas///////////////////////////////////////////*/

/*////////////////////////////////////////////////////// INCIO DE INDEX.HTML//////////////////////////////////////////////////////*/

/*pagina principal,index.html, titulo y fondo imagen*/
.CajaPrincipal {
    height: 900px;
    width: 100%;
    background: rgba(0, 0, 0, 0.7) url(img/paraindex2.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}

.cajaTexto {
    display: flexbox;
    text-align: right;
    padding: 100px;
    margin-left: 60%;
}

.cajaTexto h1{
    color: white;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: #700b0b;
    font-size: 55px;
    margin-top: 60px;
}

.cajaTexto p{
    color: #ffffff;
    font-size: large;
    font-size: 18px;
    margin-top: 30px;
}
 .cajaTexto a{
     text-decoration: none;
     color: #ffffff;
 }


 /*////////////////////////////////////////////////////Fin index.html//////////////////////////////////////*/

/*//////////////////////////////////////////////Inicio estilos servicios.html/////////////////////////////*/

.titulosEncabezados{
    text-align: center;
    position: relative;
    padding: 50px;
    padding-bottom: 0px;
    width: 100%;
    height: 100px;
    margin-top: 30px;
}
.titulosEncabezados h2{
    color: #700b0b;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: #333;
    font-size: 55px;
}

.titulosEncabezados p{
    color: #333;
    font-size: large;
    font-size: 18px;
    margin-top: 30px;
}
.contenedorContenedores{
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    perspective: 1000px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contenedorPadreContenedores{
    margin: 20px;
    perspective: 1000px;
}

.contenedorPadreContenedores:hover .contenedores{
    transform: rotateY(180deg);
}


.contenedores{
    width: 350px;
    height: 400px;
    position: relative;
    transform-style: preserve-3d;
    transition: all 600ms;
}

.contenedoresFrente{
    background-size: cover;
    background-position: center;
}


.contenedoresFrente,
.contenedorTrasero{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    border-radius: 20px;
}

.contenedorTrasero{
    transform: rotateY(180deg);
    background: white;
}

.cuerpoContenedoresFrente{
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transform: translateZ(60px);
}

.bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    border-radius: 20px;
}

.cuerpoContenedorTrasero{
    padding: 30px;
    text-align: center;
    transform: translateZ(60px);
}

.cuerpoContenedorTrasero p{
    margin-top: 20px;
    font-size: 11px;
    text-align: justify;
}

.cuerpoContenedorTrasero input{
    padding: 8px 40px;
    margin-top: 30px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    color: white;
    background: #700b0b;
    box-shadow: 1px 1px 30px -5px #700b0b;
    border-radius: 10px;
    transition: box-shadow 600ms;
}

.cuerpoContenedorTrasero input:hover{
    box-shadow: 1px 1px 30px 0px #449de6;
}
/*////////////////////////////Fin de estilos para servicios.html///////////////////////////////////////*/


/*///////////////////////////////////// Inicio estilos para nostros.html//////////////////////////////////*/

/*Estilos generales*/

.bodyUnico{
    background-color: #333;
}
.contenedorGeneral{
    width: 800px;
    height: 700px;
}


.contenedorCartas{
    width:100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cartas{
    width: 350px;
    margin: 10px;
    padding: 20px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    background: rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: all 300ms;
}

.cartas:hover{
    transform: translateY(-10px);
}

.cartas:hover .coverCartas img{
    transform: scale(1.1);
}

.coverCartas{
    width: 100%;
    height: 180px;
    border-radius: 14px;
    overflow: hidden;
}

.coverCartas img{
    width: 110%;
    transition: all 300ms;
}

.cartas h2{
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
    color: #fff;
}

.cartas p{
    margin-top: 20px;
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    letter-spacing: 0.5px;
}

.cartas hr{
    margin-top: 30px;
    border: none;
    height: 0.2px;
    background: #41414138;
}

.footerCartas{
    margin-top: 10px;
    display: flex;
    color: #fff;
    justify-content: space-between;
}

.footerCartas h3{
    font-size: 15px;
    font-weight: 500;
}

@media screen and (max-width:1200px) {
    .contenedorCartas{
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        margin-top: 100px;
        padding-bottom: 100px;
    }
}

/*footer unico para pagina de nostros*/
.footerNosotros{
    height: 80px;
    background-color: #333;
    display: grid;
    grid-area: inherit;
}

.footerNosotros img{
    display: inline;
    width: 30px;
    height: 30px;
    margin-right: 30px;
    background-color: #fff;
}

.socialNosotros{
    text-align: end;
    margin-right: 43%;
}

.fixNosotros {
    width: 100%;
    height: 10px;
    background-color: #333;
}

.copyrightNosotros {
    background-color: #333;
    text-align: center;
    color: white;
}
/*Media quires sobre nosotros*/


@media screen and (max-width:1200px) {
    .contenedorCartas{
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        margin-top: 100px;
        padding-bottom: 100px;
    }
}

@media (max-width: 880px){
    .contenedorGeneral{
        width: 400px;
        height: auto;
    }
    
} 

/*//////////////////////Fin Nosotros.html///////////////////////*/


  /*////////Inicio para galeria////////////////////////////////*/


  .displayGaleria{
      padding: 60px;
      display: grid;
      grid-template-columns: 1fr, 1fr, 1fr, 1fr;
      grid-template-rows: 1fr, 1fr, 1fr, 1fr;
  }
  .carousel{
      width: 750px;
      height: 420px;
      grid-column: 1/4, 2/4;
      grid-row: 1/4;
  }

  .carousel img{
      border-radius: 10%;
  }

  .cajaTexte {
    
    padding: 40px;
    grid-column: 3/4, 4/4;
    grid-row: 2/4;
  }

  .cajaTexte h1{
    color: #700b0b;
    text-align: right;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: #333;
    font-size: 55px;
  }

  .cajaTexte{ 
  text-align: right;
  color: #333;
  font-size: large;
  font-size: 18px;
  margin-top: 30px;
}
.cajaTexte a{
   text-decoration: none;
   color: #ffffff;
}
 /*Media quires*/

/*/////////////////////Fin Galeria//////////////////////////*/




/*///////////////////////////////////// Inicio estilos para contacto.html//////////////////////////////////*/

.container{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
    
}

.container:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	filter: blur(50px);
	z-index: -1;
}
.contactoContainer{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
    width: 850px;
    margin: 10px;
    padding: 20px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    background: rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: all 300ms;
}

.left{
    color: #333;
    text-align: center;
}

.left p{
    text-align: justify;
    font-size: larger;
}

.left h1, p{
    padding: 10px;
    margin: 10px 20px;
}


.right{
	padding: 25px 40px;
}

.tituloContacto{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

.tituloContacto:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #700b0b;
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #700b0b;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btn:hover{
    background-color: #700b0b;
}

.field:focus{
    border: 2px solid #700b0b;
    background-color: #fff;
}
/*Media queris contacto*/

@media screen and (max-width: 880px){
	.contactoContainer{
		grid-template-columns: 1fr;
	}
	.left{
		height: auto;
        font-size: 10px;
	}
    .container{
        padding: 15px 0px;
    }

    .contactoContainer{
        padding: 0px 15px;
    }

}

 /* inicio de footer para todas las paginas de nuestro sitio web*/

footer{
    height: 80px;
    background-color: #333;
}

footer img{
    display: inline;
    width: 30px;
    height: 30px;
    margin-right: 30px;
    background-color: #333;
}


.cajaLista{
    width: 100%;
    background-color: #333;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.cajaLista ul{
    list-style: none;
    text-decoration: none;
    margin: 0px auto;
    width: 500px;
}

.cajaLista ul li{
    display:inline;
    line-height: 40px;
    border-right: 1px solid #808080;

}

.cajaLista ul li a{
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    text-decoration: none;
}

.social{
    text-align: end;
    margin-right: 43%;
}

.topfix {
    width: 100%;
    height: 10px;
    background-color: #333;
}

.copyright {
    background-color: #333;
    text-align: center;
    color: white;
}

/* fin de footer*/

