* { 
    margin: 0; 
    padding: 0;
 }

 /*/////////////////////////////////////Estilos generales para todas nuestras paginas////////////////////////////////*/

/*header de blog, contacto, nostros, servicios*/

.cabecera {
    width: 100%;
    height: 250px;
    margin: 0px auto;
}

.cabecera a{
    text-decoration: none;
}

.cabecera .logotipo {
    margin: 0px auto;
    padding-top: 20px;
    text-align: center;
}

.cabecera .logotipo img {
    display: block;
    text-align: center;
    margin: 0px auto;
    width: 140px;
}

.cabecera h1{
    text-align: center;
    font-size: large;
    font-size: 40px;
    color: #700b0b;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-top: 10px;
    text-shadow: 0px 2px 1px #333;
}

.cabecera h1 a {
    color: #700b0b;
}

/*barra de navegacion para todas las paginas de nuestro sitio web*/

.navbar{
    background: linear-gradient(to bottom, #cecece, #ffffff, rgb(219, 215, 253));
    color: #ffffff;
}

.navbar-brand img{
    width: 30px;
    height: 30px;
    margin: 0px;

}

/* Fin barra de navegacion*/

/*//////////////////////////////////////Fin estilos generales para todas nuesras paginas///////////////////////////////////////////*/

/*////////////////////////////////////////////////////// INCIO DE INDEX.HTML//////////////////////////////////////////////////////*/

/*pagina principal,index.html, titulo y fondo imagen*/
.CajaPrincipal {
    height: 900px;
    width: 100%;
    background: rgba(0, 0, 0, 0.7) url(img/paraindex2.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}

.cajaTexto {
    display: flexbox;
    text-align: right;
    padding: 100px;
    margin-left: 60%;
}

.cajaTexto h1{
    color: white;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: #29aaff;
    font-size: 55px;
    margin-top: 60px;
}

.cajaTexto p{
    color: #ffffff;
    font-size: large;
    font-size: 18px;
    margin-top: 30px;
}
 .cajaTexto a{
     text-decoration: none;
     color: #ffffff;
 }
/* espacio de servicios index.html*/

/*fin caja de servicios*/

/* espacio nuestro equipo inicio*/

 /*fin caja nuestro equipo*/

 /*estilos caja clientes*/

 /*fin caja de clientes*/

 /*////////////////////////////////////////////////////Fin index.html//////////////////////////////////////*/

/*//////////////////////////////////////////////Inicio estilos servicios.html/////////////////////////////*/

.titulosEncabezados{
    text-align: center;
    position: relative;
    padding: 50px;
    padding-bottom: 0px;
    width: 100%;
    height: 100px;
    margin-top: 30px;

}
.contenedorContenedores{
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    perspective: 1000px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contenedorPadreContenedores{
    margin: 20px;
    perspective: 1000px;
}

.contenedorPadreContenedores:hover .contenedores{
    transform: rotateY(180deg);
}


.contenedores{
    width: 350px;
    height: 400px;
    position: relative;
    transform-style: preserve-3d;
    transition: all 600ms;
}

.contenedoresFrente{
    background-size: cover;
    background-position: center;
}


.contenedoresFrente,
.contenedorTrasero{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    border-radius: 20px;
}

.contenedorTrasero{
    transform: rotateY(180deg);
    background: white;
}

.cuerpoContenedoresFrente{
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transform: translateZ(60px);
}

.bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    border-radius: 20px;
}

.cuerpoContenedorTrasero{
    padding: 40px;
    text-align: center;
    transform: translateZ(60px);
}

.cuerpoContenedorTrasero p{
    margin-top: 30px;
    font-size: 11px;
    text-align: justify;
}

.cuerpoContenedorTrasero input{
    padding: 10px 40px;
    margin-top: 30px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    color: white;
    background: #58B0F6;
    box-shadow: 1px 1px 30px -5px #58B0F6;
    border-radius: 10px;
    transition: box-shadow 600ms;
}

.cuerpoContenedorTrasero input:hover{
    box-shadow: 1px 1px 30px 0px #449de6;
}
/*Fin de estilos para servicios.html*/


/*///////////////////////////////////// Inicio estilos para nostros.html//////////////////////////////////*/

.allNosotros {
  max-width: 1150px;
  height: auto;
  display: flex;
}

.allNosotros img{
    width: 150px;
    height: 200px;
}

.subrayado {
    background-color: #333;
    padding: 2px 10px;
}

.quienesSomos{
    padding: 80px;
}

.marginInt { 
    background-image: url(img/quienessomos.jpg);
    background-size: 400px 500px;
    background-repeat: no-repeat;
}

.comoTrabajamos{
    background-image: url(img/comotrabajamos.jpg);
    padding: 200px;
}


.porqueMarketing{
    background-image: url(img/porquemarketing.jpg);
    padding: 200px;
}




/*///////////////////////////////////// Inicio estilos para contacto.html//////////////////////////////////*/


.general {
    display: grid;
    grid-template-columns: 450px, 450px;
    grid-gap: 40px;
    padding: 40px;

}

.principalContacto{
    display: flex;
    padding: 40px;
}

.imagen img{
    width: 98%;
}

.imagen{
    width: 60%;
    text-align: center;
    margin-right: 20px;
}

.mensaje h2{
    padding: 40px;
    text-align: center;
    font-size: large;
    font-size: 24px;
    color: #700b0b;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-top: 10px;
    text-shadow: 0px 2px 1px #333;
}


.mensaje {
    grid-column: 2/2;
    width: 40%;
    text-align: justify;
    letter-spacing: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:larger;
    font-size: 20px;
    margin-left: 20px;
}
.tituloContacto{
    text-align: center;
    font-size: large;
    font-size: 24px;
    color: #700b0b;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-top: 10px;
}

.contacto {
    background: #c1c1c1;
    padding: 50px 0;
}


.contacto .contenedorContacto .formContacto{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; /*responsive*/
    padding: 60px;
}

.contacto .contenedorContacto .nombre, .correoElectronico, .phone, .serviciosInteres, .consultar{
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #333;
    padding: 15px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #333;
    transition: all 240ms ease;
    margin-bottom: 20px;
}

.contacto .nombre, .correoElectronico, .phone, .serviciosInteres{
    width: 46%;
    margin-bottom: 20px;
}

.contacto .serviciosInteres{
    width: 49%;
}

.contacto .consultar{
    width: 96%;
    max-width: 96%;
    min-width: 96%;
    min-height: 100px;
    max-height: 300px;
}

.contacto .nombre:focus, .serviciosInteres:focus, .correoElectronico:focus, .phone:focus, .consultar:focus{
    border-bottom: 3px solid #700b0b;
}

.contacto .btn, .rst{
    margin: auto;
    text-align: center;
    padding: 15px 25px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    border:none;
    background: none;
    background-color: #700b0b;
    color: white;
    border-radius: 10%;
    cursor: pointer;
}
.contacto .btn:hover, .rst:hover {
    background-color: #410303;
    border: unset;
}

 /* inicio de footer para todas las paginas de nuestro sitio web*/

footer{
    height: 80px;
    background-color: #333;
}

footer img{
    display: inline;
    width: 30px;
    height: 30px;
    margin-right: 30px;
    background-color: #333;
}


.cajaLista{
    width: 100%;
    background-color: #333;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.cajaLista ul{
    list-style: none;
    text-decoration: none;
    margin: 0px auto;
    width: 500px;
}

.cajaLista ul li{
    display:inline;
    line-height: 40px;
    border-right: 1px solid #808080;

}

.cajaLista ul li a{
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    text-decoration: none;
}

.social{
    text-align: end;
    margin-right: 43%;
}

.topfix {
    width: 100%;
    height: 10px;
    background-color: #333;
}

.copyright {
    background-color: #333;
    text-align: center;
    color: white;
}

/* fin de footer*/

/*//////////////////////////////Inicio responsive/////////////////////*/

/*menu de navegacion*/
@media (min-width: 600px) {
    .menuu {
        display: none;
      }
      .burger {
          display: none;
      }
      .cajaTexto {
    display: flexbox;
    text-align: right;
    padding: 100px;
    margin-left: 60%;
}
}
@media (max-width: 600px) {
      .lista1{
        display:none;
      }
      
      .menuu:checked   ~ul{
        display:inline-block;
      }
      
      .menuu {
        display: none;
      }
      
      .burger {
        color: white;
        box-sizing: border-box;
        display:inline-block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-weight: bold;
        text-align:right;
        user-select: none;
      }
      .burger:hover{
        transform: scale(1.5);
        transition: 2s;
        cursor: pointer;
      }
      
       .menuu:checked  label {
        background: lightgrey;
      }
      
      .lista1{
        margin-top:0;
        padding: 0;
        width: 100%;
      }
      
      
      .listas{
          width: 100%;
        display: inline;
        background: #700b0b;
        margin: 0;
        padding: 10px;
        list-style: none;
        border-bottom: 1px solid grey;
      }
      
      .listas:hover {
        filter: brightness(110%);
      }
    }
/* inicio contacto.html responsive */


    @media (max-width: 800px) {

        .general {
            display: grid;
            grid-template-rows: 100%  100%;
        }

        .principalContacto {
            display:block;
        }

        .imagen {
            width: 100%;
            grid-row: 1/2;
        }

        .imagen img {
            width: 100%;
        }

        .mensaje{
            grid-row: 2/2;
            width: 100%;
            text-align: justify;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;    
        }

    }

/*Fin contacto.html responsive*/    